<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="924534a1-401a-43f7-ae23-393dd425c357" Alias="assetCollection" Level="3">
  <Info>
    <Name>Asset Collection</Name>
    <Icon>icon-server color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Asset</Folder>
    <Compositions />
    <DefaultTemplate>AssetCollection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="47bd67c3-f358-471e-97cf-38dd268cc401">AssetCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="826dd015-605a-49d2-91a2-1d2418d8823c" SortOrder="0">asset</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>