<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d02f2d79-6721-4306-b2e4-06c21457ca6d" Alias="companyCollection" Level="3">
  <Info>
    <Name>Company Collection</Name>
    <Icon>icon-company color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Company</Folder>
    <Compositions>
      <Composition Key="cf142d7d-d463-4a8a-9c5a-2e289069fda0">pageMetadata</Composition>
    </Compositions>
    <DefaultTemplate>CompanyCollection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aeb53d20-7fb3-492a-a9b4-f81102290e76">CompanyCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="53a71b57-ee60-442e-89bc-b04e42a3a697" SortOrder="0">company</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>