<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="53a71b57-ee60-442e-89bc-b04e42a3a697" Alias="company" Level="3">
  <Info>
    <Name>Company</Name>
    <Icon>icon-cash-register color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Company</Folder>
    <Compositions>
      <Composition Key="cf142d7d-d463-4a8a-9c5a-2e289069fda0">pageMetadata</Composition>
    </Compositions>
    <DefaultTemplate>Company</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5fc746d8-1eb6-4f88-879a-e719d0578207">Company</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>