<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="110db7e1-aa43-4a9d-a6e6-81c420692b6e" Alias="contentCollection" Level="3">
  <Info>
    <Name>Content Collection</Name>
    <Icon>icon-folders color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A collection of generic content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Content</Folder>
    <Compositions>
      <Composition Key="cf142d7d-d463-4a8a-9c5a-2e289069fda0">pageMetadata</Composition>
    </Compositions>
    <DefaultTemplate>ContentCollection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6110a623-1153-43ec-a4ff-6c8bd5dd586d">ContentCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da170f01-227d-4e0c-baf7-4355c49bc132" SortOrder="0">contentSingle</ContentType>
    <ContentType Key="ab02082a-bd9d-4a83-802d-c437cbed4e48" SortOrder="1">uNSDGCollection</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>