<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da170f01-227d-4e0c-baf7-4355c49bc132" Alias="contentSingle" Level="3">
  <Info>
    <Name>Content Single</Name>
    <Icon>icon-umb-content color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A generic piece of content</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Content</Folder>
    <Compositions>
      <Composition Key="9854e391-c4c7-4ebc-8c1a-b79c24626966">contentArea</Composition>
      <Composition Key="cf142d7d-d463-4a8a-9c5a-2e289069fda0">pageMetadata</Composition>
    </Compositions>
    <DefaultTemplate>ContentSingle</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ce6eb262-a2b2-4367-bf07-cb2ca4aeb169">ContentSingle</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>