<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b892d723-50a8-4349-9e47-9b4226b99c44" Alias="geolocation" Level="2">
  <Info>
    <Name>Entity Geolocation</Name>
    <Icon>icon-map-location color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d977fbb5-31fd-4bfb-b2dd-483521d95225</Key>
      <Name>Latitude</Name>
      <Alias>latitude</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The geocoord latitude for the location]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="geolocation/geoLocationDetails">GeoLocation Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45964c85-06d3-4f7b-b265-3477d74e2976</Key>
      <Name>Longitude</Name>
      <Alias>longitude</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The geocoord longitude for the location]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="geolocation/geoLocationDetails">GeoLocation Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e435ea5-d412-49b2-8476-ba8b3e3eeb2b</Key>
      <Name>Map Zoom</Name>
      <Alias>mapZoom</Alias>
      <Definition>1ba8c3d1-b120-4fb8-9372-fe213b5d28ec</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A mapzoom for this entity, 1 is further away, 15 is very close]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="geolocation/geoLocationDetails">GeoLocation Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffc12035-cd4b-4e9b-a5e5-d3aa38a60367</Key>
      <Name>Place Name</Name>
      <Alias>placeName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A descriptive title for this place]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="geolocation/geoLocationDetails">GeoLocation Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3009de4a-35b4-4ae6-a88d-a5e61cfbfb3a</Key>
      <Caption>GeoLocation Details</Caption>
      <Alias>geolocation/geoLocationDetails</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b95fcaa4-5124-4da7-b722-542dcd942172</Key>
      <Caption>Geolocation</Caption>
      <Alias>geolocation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>