<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c796615-9a60-4d9c-8a5f-64bd215d49cc" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The website's homepage</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="cf142d7d-d463-4a8a-9c5a-2e289069fda0">pageMetadata</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cc18602b-9ccd-4443-90cc-066c3137ee64">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="986392aa-98b5-4099-b63b-704caf5d7fa6" SortOrder="0">regionCollection</ContentType>
    <ContentType Key="d02f2d79-6721-4306-b2e4-06c21457ca6d" SortOrder="1">companyCollection</ContentType>
    <ContentType Key="924534a1-401a-43f7-ae23-393dd425c357" SortOrder="2">assetCollection</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>