<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="986392aa-98b5-4099-b63b-704caf5d7fa6" Alias="regionCollection" Level="3">
  <Info>
    <Name>Region Collection</Name>
    <Icon>icon-bills-dollar color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Region</Folder>
    <Compositions>
      <Composition Key="cf142d7d-d463-4a8a-9c5a-2e289069fda0">pageMetadata</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aeb53d20-7fb3-492a-a9b4-f81102290e76">RegionCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="79d52945-2716-476b-b285-e20eeee79d38" SortOrder="0">regionSingle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>