<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b5b17b2-81b4-4daf-9d09-2b8a97d1a9e9" Alias="site" Level="1">
  <Info>
    <Name>Site</Name>
    <Icon>icon-globe-europe---africa color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3c796615-9a60-4d9c-8a5f-64bd215d49cc" SortOrder="0">home</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0c680fcf-f855-4b2a-8d8e-bf0f414db964</Key>
      <Name>Site Homepage</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Redirect to the site's homepage by picking from the content picker below]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="configuration">Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c72eaf54-706d-4a4d-92c8-aa46003a25b1</Key>
      <Caption>Configuration</Caption>
      <Alias>configuration</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>