<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="954f471f-ce2e-4f8b-8abf-4f46d01cbec2" Alias="sustainableTrade" Level="3">
  <Info>
    <Name>Sustainable Trade</Name>
    <Icon>icon-boat-shipping color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Sustainable+Trade</Folder>
    <Compositions>
      <Composition Key="cf142d7d-d463-4a8a-9c5a-2e289069fda0">pageMetadata</Composition>
    </Compositions>
    <DefaultTemplate>SustainableTrade</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8011685e-3b4a-4a84-b9b6-3881994fca88">SustainableTrade</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>