<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e655e97a-e01c-4d9c-baeb-756a2e43a87b" Alias="sustainableTradeWave2Generator" Level="3">
  <Info>
    <Name>Sustainable Trade Wave 2 Generator</Name>
    <Icon>icon-sound-waves color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page to host a js widget which generates Wave 2 assessments</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Sustainable+Trade</Folder>
    <Compositions>
      <Composition Key="cf142d7d-d463-4a8a-9c5a-2e289069fda0">pageMetadata</Composition>
    </Compositions>
    <DefaultTemplate>SustainableTradeWave2Generator</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7cb28e3e-d4d9-48bc-b338-dd2142f3c52f">SustainableTradeWave2Generator</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>