<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab02082a-bd9d-4a83-802d-c437cbed4e48" Alias="uNSDGCollection" Level="4">
  <Info>
    <Name>UNSDG Collection</Name>
    <Icon>icon-folders color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A collection of content pieces relating toUnited Nations Sustainable Development Goals</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Content/UNSDG+Content</Folder>
    <Compositions>
      <Composition Key="cf142d7d-d463-4a8a-9c5a-2e289069fda0">pageMetadata</Composition>
    </Compositions>
    <DefaultTemplate>UNSDGCollection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a56b8023-0c74-4072-86c7-dbd0a3f0b961">UNSDGCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da3de11f-5082-4990-86cb-af94985f257e" SortOrder="0">uNSDGSingle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>