<?xml version="1.0" encoding="utf-8"?>
<Media Key="f02ee360-a1f2-48c2-93dc-e76c60a6e8d6" Alias="E SDG PRINT 17" Level="3">
  <Info>
    <Parent Key="1d5fb54d-5673-4c42-9710-84dba33bcabd">Print</Parent>
    <Path>/UNSDGs/Print/ESDGPRINT17</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:14:07</CreateDate>
    <NodeName Default="E SDG PRINT 17" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m1rd32hs/e_sdg_print-17.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>