<?xml version="1.0" encoding="utf-8"?>
<Media Key="88b3b431-b017-4f9e-badf-41c745717e2e" Alias="E SDG PRINT 15" Level="3">
  <Info>
    <Parent Key="1d5fb54d-5673-4c42-9710-84dba33bcabd">Print</Parent>
    <Path>/UNSDGs/Print/ESDGPRINT15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:14:07</CreateDate>
    <NodeName Default="E SDG PRINT 15" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g40lhcax/e_sdg_print-15.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>