<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e9d99fa-efae-4202-9266-b158a1ec9233" Alias="E SDG PRINT 05" Level="3">
  <Info>
    <Parent Key="1d5fb54d-5673-4c42-9710-84dba33bcabd">Print</Parent>
    <Path>/UNSDGs/Print/ESDGPRINT05</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:14:07</CreateDate>
    <NodeName Default="E SDG PRINT 05" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5smj0tvo/e_sdg_print-05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>