<?xml version="1.0" encoding="utf-8"?>
<Media Key="a690bac8-fdc7-49bf-a57b-74eb6b7058f1" Alias="E SDG PRINT 07" Level="3">
  <Info>
    <Parent Key="1d5fb54d-5673-4c42-9710-84dba33bcabd">Print</Parent>
    <Path>/UNSDGs/Print/ESDGPRINT07</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:14:08</CreateDate>
    <NodeName Default="E SDG PRINT 07" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z03jbjwh/e_sdg_print-07.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>