<?xml version="1.0" encoding="utf-8"?>
<Media Key="bafc2d25-0b50-492a-a358-99341d4fdb1d" Alias="E SDG PRINT 03" Level="3">
  <Info>
    <Parent Key="1d5fb54d-5673-4c42-9710-84dba33bcabd">Print</Parent>
    <Path>/UNSDGs/Print/ESDGPRINT03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:14:07</CreateDate>
    <NodeName Default="E SDG PRINT 03" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/emwpzosq/e_sdg_print-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>