<?xml version="1.0" encoding="utf-8"?>
<Media Key="d85a4856-e2e5-4e3b-b417-bc2cce7b32e3" Alias="E SDG PRINT 14" Level="3">
  <Info>
    <Parent Key="1d5fb54d-5673-4c42-9710-84dba33bcabd">Print</Parent>
    <Path>/UNSDGs/Print/ESDGPRINT14</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:14:07</CreateDate>
    <NodeName Default="E SDG PRINT 14" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kbefvwhf/e_sdg_print-14.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>