<?xml version="1.0" encoding="utf-8"?>
<Media Key="b45bcb75-bda9-4dc7-bc03-903e2ae826db" Alias="E WEB Goal 17" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal17</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 17" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 17: Partnership for the goals]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/opffxnfj/e-web-goal-17.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>