<?xml version="1.0" encoding="utf-8"?>
<Media Key="840d5657-b16c-470c-9765-340066a7cce5" Alias="E WEB Goal 15" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 15" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 15: Life on land]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kfla1bdm/e-web-goal-15.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>