<?xml version="1.0" encoding="utf-8"?>
<Media Key="966e9dd5-a6be-451e-949f-adfa2be918af" Alias="E WEB Goal 07" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal07</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 07" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 7: Affordable and clean energy]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0ooh3fv4/e-web-goal-07.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>