<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee6e46ff-9792-4bcc-ade9-d4cea2de9a49" Alias="E WEB Goal 04" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal04</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 04" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 4: Quality Education]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5fdg31us/e-web-goal-04.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>