<?xml version="1.0" encoding="utf-8"?>
<Media Key="7af388e4-e710-42ea-b6f7-355f1f56f34d" Alias="E WEB Goal 16" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal16</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 16" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 16: Peace, justice and strong institutions]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2kepg4qq/e-web-goal-16.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>