<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a78cd7a-1d6e-4837-8b1a-538fb1908bc4" Alias="E WEB Goal 13" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 13" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 13: Climate Action]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ptghq0to/e-web-goal-13.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>