<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0c790e1-cce6-4c4a-96e6-28c53530c4ee" Alias="E WEB Goal 11" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 11" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 11: Sustainable cities and communities]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/24impuhg/e-web-goal-11.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>