<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a21ff3f-5001-46af-b26e-c1acae7e0305" Alias="E WEB Goal 05" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal05</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 05" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 5: Gender Equality]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hh5dcwqb/e-web-goal-05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>