<?xml version="1.0" encoding="utf-8"?>
<Media Key="08d132b6-6e76-4c57-aca7-eab74016d9d7" Alias="E WEB Goal 12" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 12" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 12: Responsible consumption and production]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/waznccdw/e-web-goal-12.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>