<?xml version="1.0" encoding="utf-8"?>
<Media Key="1994c569-7e9c-47f8-a88a-c44d67ccf27d" Alias="E WEB Goal 09" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal09</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 09" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 9: Industry, innovation and infrastructure]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n5cjigm2/e-web-goal-09.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>