<?xml version="1.0" encoding="utf-8"?>
<Media Key="30ba8256-859c-4b70-a4c6-3eb98442a431" Alias="E WEB Goal 03" Level="3">
  <Info>
    <Parent Key="39cb400a-859c-42dc-9f13-5ddcd1f341b1">Web</Parent>
    <Path>/UNSDGs/Web/EWEBGoal03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-08T11:13:55</CreateDate>
    <NodeName Default="E WEB Goal 03" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[UN SDG Logo 3: Good health & wellbeing]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kcblume2/e-web-goal-03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>