<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d5fb54d-5673-4c42-9710-84dba33bcabd" Alias="Print" Level="2">
  <Info>
    <Parent Key="bd8f628f-e9ae-4771-9682-43929aebc665">UN SDGs</Parent>
    <Path>/UNSDGs/Print</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T11:15:33</CreateDate>
    <NodeName Default="Print" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties />
</Media>