<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd8f628f-e9ae-4771-9682-43929aebc665" Alias="UN SDGs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UNSDGs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-08T11:13:29</CreateDate>
    <NodeName Default="UN SDGs" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>