


<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("/Views/Partials/Widgets/Breadcrumb.cshtml")
            </div>
        </div>
    </div>
</footer>
