@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<div class="row d-flex justify-content-center mb-3 mt-3">
	<div class="col-12 col-lg-12 ">
		<h1 class="text-center text-md-start"> @Model.Value("pageTitle")</h1>
	</div>
</div>



