<?xml version="1.0" encoding="utf-8"?>
<Content Key="019bcf9c-76c5-40d2-b16d-0cc64d3c1532" Alias="Asset Emissions" Level="2">
  <Info>
    <Parent Key="b02196c0-16ac-4366-a18e-4471cabefd48">Site</Parent>
    <Path>/Site/AssetEmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>assetCollection</ContentType>
    <CreateDate>2023-07-27T11:07:30</CreateDate>
    <NodeName Default="Asset Emissions" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="47bd67c3-f358-471e-97cf-38dd268cc401">AssetCollection</Template>
  </Info>
  <Properties>
    <mainNavigationDisplayText>
      <Value><![CDATA[]]></Value>
    </mainNavigationDisplayText>
    <pageTitle>
      <Value><![CDATA[Asset Emissions]]></Value>
    </pageTitle>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showInMainNavigation>
      <Value><![CDATA[1]]></Value>
    </showInMainNavigation>
  </Properties>
</Content>