<?xml version="1.0" encoding="utf-8"?>
<Content Key="019bcf9c-76c5-40d2-b16d-0cc64d3c1532" Alias="Asset Emissions" Level="3">
  <Info>
    <Parent Key="35d54d7d-ac22-459d-ad4e-c070d1fce562">Home</Parent>
    <Path>/Site/Home/AssetEmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>assetCollection</ContentType>
    <CreateDate>2023-07-27T11:07:30</CreateDate>
    <NodeName Default="Asset Emissions" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="47bd67c3-f358-471e-97cf-38dd268cc401">AssetCollection</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Asset Emissions]]></Value>
    </pageTitle>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
  </Properties>
</Content>