<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a556243-523c-499b-a88f-3e261a86c21b" Alias="Corporate Emissions" Level="2">
  <Info>
    <Parent Key="b02196c0-16ac-4366-a18e-4471cabefd48">Site</Parent>
    <Path>/Site/CorporateEmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>companyCollection</ContentType>
    <CreateDate>2023-07-27T11:07:23</CreateDate>
    <NodeName Default="Corporate Emissions" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aeb53d20-7fb3-492a-a9b4-f81102290e76">CompanyCollection</Template>
  </Info>
  <Properties>
    <mainNavigationDisplayText>
      <Value><![CDATA[]]></Value>
    </mainNavigationDisplayText>
    <pageTitle>
      <Value><![CDATA[Corporate Emissions]]></Value>
    </pageTitle>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showInMainNavigation>
      <Value><![CDATA[1]]></Value>
    </showInMainNavigation>
  </Properties>
</Content>