<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a556243-523c-499b-a88f-3e261a86c21b" Alias="Corporate Emissions" Level="3">
  <Info>
    <Parent Key="35d54d7d-ac22-459d-ad4e-c070d1fce562">Home</Parent>
    <Path>/Site/Home/CorporateEmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>companyCollection</ContentType>
    <CreateDate>2023-07-27T11:07:23</CreateDate>
    <NodeName Default="Corporate Emissions" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aeb53d20-7fb3-492a-a9b4-f81102290e76">CompanyCollection</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Corporate Emissions]]></Value>
    </pageTitle>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
  </Properties>
</Content>