<?xml version="1.0" encoding="utf-8"?>
<Content Key="5555c019-3e0c-45cb-ba4f-a8a516495f88" Alias="Example Corporation" Level="4">
  <Info>
    <Parent Key="4a556243-523c-499b-a88f-3e261a86c21b">Corporate Emissions</Parent>
    <Path>/Site/Home/CorporateEmissions/ExampleCorporation</Path>
    <Trashed>false</Trashed>
    <ContentType>company</ContentType>
    <CreateDate>2023-07-27T11:08:00</CreateDate>
    <NodeName Default="Example Corporation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5fc746d8-1eb6-4f88-879a-e719d0578207">Company</Template>
  </Info>
  <Properties />
</Content>