<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cc98b6d-ed4d-4e9f-8d55-8e4d01cc5793" Alias="Example Asset" Level="4">
  <Info>
    <Parent Key="019bcf9c-76c5-40d2-b16d-0cc64d3c1532">Asset Emissions</Parent>
    <Path>/Site/Home/AssetEmissions/ExampleAsset</Path>
    <Trashed>false</Trashed>
    <ContentType>asset</ContentType>
    <CreateDate>2023-07-27T11:08:08</CreateDate>
    <NodeName Default="Example Asset" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="add5a824-4f3d-48d2-8059-a3afbe9ff93f">Asset</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Example Asset]]></Value>
    </pageTitle>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
  </Properties>
</Content>