<?xml version="1.0" encoding="utf-8"?>
<Content Key="35d54d7d-ac22-459d-ad4e-c070d1fce562" Alias="Home" Level="2">
  <Info>
    <Parent Key="b02196c0-16ac-4366-a18e-4471cabefd48">Site</Parent>
    <Path>/Site/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-07-27T10:26:57</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc18602b-9ccd-4443-90cc-066c3137ee64">Home</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[The website home]]></Value>
    </pageTitle>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
  </Properties>
</Content>