<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbcc9b0a-c03a-4744-b140-ee85679b8028" Alias="Norway" Level="3">
  <Info>
    <Parent Key="477cad36-23b9-45a9-8d1d-6cbbdba4e811">Regional</Parent>
    <Path>/Site/Regional/Norway</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2023-07-27T11:07:52</CreateDate>
    <NodeName Default="Norway" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f698c143-cde5-40c3-b05a-17d76c92149d">Country</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Norway]]></Value>
    </pageTitle>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
  </Properties>
</Content>