<?xml version="1.0" encoding="utf-8"?>
<Content Key="477cad36-23b9-45a9-8d1d-6cbbdba4e811" Alias="Regional Emissions" Level="2">
  <Info>
    <Parent Key="b02196c0-16ac-4366-a18e-4471cabefd48">Site</Parent>
    <Path>/Site/RegionalEmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>regionCollection</ContentType>
    <CreateDate>2023-07-27T11:07:15</CreateDate>
    <NodeName Default="Regional Emissions" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aeb53d20-7fb3-492a-a9b4-f81102290e76">RegionCollection</Template>
  </Info>
  <Properties>
    <mainNavigationDisplayText>
      <Value><![CDATA[]]></Value>
    </mainNavigationDisplayText>
    <pageTitle>
      <Value><![CDATA[Regional Emissions]]></Value>
    </pageTitle>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showInMainNavigation>
      <Value><![CDATA[1]]></Value>
    </showInMainNavigation>
  </Properties>
</Content>