<?xml version="1.0" encoding="utf-8"?>
<Content Key="b02196c0-16ac-4366-a18e-4471cabefd48" Alias="Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2023-07-27T10:26:22</CreateDate>
    <NodeName Default="Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/35d54d7dac22459dad4ec070d1fce562]]></Value>
    </umbracoInternalRedirectId>
  </Properties>
</Content>