<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5dac58d-3e49-49e4-8adc-360bbbe70471" Alias="United Kingdom" Level="4">
  <Info>
    <Parent Key="477cad36-23b9-45a9-8d1d-6cbbdba4e811">National Emissions</Parent>
    <Path>/Site/Home/NationalEmissions/UnitedKingdom</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2023-07-27T11:07:46</CreateDate>
    <NodeName Default="United Kingdom" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f698c143-cde5-40c3-b05a-17d76c92149d">Country</Template>
  </Info>
  <Properties />
</Content>