<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5dac58d-3e49-49e4-8adc-360bbbe70471" Alias="United Kingdom" Level="3">
  <Info>
    <Parent Key="477cad36-23b9-45a9-8d1d-6cbbdba4e811">Regional Emissions</Parent>
    <Path>/Site/RegionalEmissions/UnitedKingdom</Path>
    <Trashed>false</Trashed>
    <ContentType>regionSingle</ContentType>
    <CreateDate>2023-07-27T11:07:46</CreateDate>
    <NodeName Default="United Kingdom" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f698c143-cde5-40c3-b05a-17d76c92149d">RegionSingle</Template>
  </Info>
  <Properties>
    <countryAlpha2>
      <Value><![CDATA[GB]]></Value>
    </countryAlpha2>
    <countryAlpha3>
      <Value><![CDATA[GBR]]></Value>
    </countryAlpha3>
    <countryCode>
      <Value><![CDATA[826]]></Value>
    </countryCode>
    <countryName>
      <Value><![CDATA[United Kingdom]]></Value>
    </countryName>
    <mainNavigationDisplayText>
      <Value><![CDATA[]]></Value>
    </mainNavigationDisplayText>
    <pageTitle>
      <Value><![CDATA[UK]]></Value>
    </pageTitle>
    <regions>
      <Value><![CDATA[Europe
Northern Europe]]></Value>
    </regions>
    <sEODescription>
      <Value><![CDATA[]]></Value>
    </sEODescription>
    <sEOTitle>
      <Value><![CDATA[]]></Value>
    </sEOTitle>
    <showInMainNavigation>
      <Value><![CDATA[0]]></Value>
    </showInMainNavigation>
  </Properties>
</Content>