body {
}


.country-link-card {
}

    .country-link-card img {
        max-height: 150px;
        overflow: hidden;
        object-fit: cover;
        object-position: top;
        filter: grayscale(100%);
        transition-duration: 150ms;
        transition-property: filter;
    }

    .country-link-card:hover img {
        filter: grayscale(0%);
        transition-duration: 150ms;
        transition-property: filter;
    }

.icc-grade {
    padding:3px;
    background:lightgray;
    text-transform:uppercase;
    font-weight:bold;
}
.icc-grade-a {
    background-color: #c7e995;
}
.icc-grade-b {
    background-color: #abcae9;
}
.icc-grade-n {
    background-color: #ff5869;
}


.icc-grading-table th[scope=row] {
    vertical-align:middle
}
.icc-grading-table td > span.icc-grade {
    display: block;
    text-align: center;
    padding: 0.75rem;
}
.icc-grading-table td{
    border-top:1px dashed red;
}

.icc-grading-table .overall-grade {
    font-size: 1.5rem;
    font-weight: bolder;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}


.sdg-icon-img{
    max-width:100%;
}