<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ba8c3d1-b120-4fb8-9372-fe213b5d28ec" Alias="Map Zoom - Numeric" Level="1">
  <Info>
    <Name>Map Zoom - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 1,
  "step": 1,
  "max": 15
}]]></Config>
</DataType>