<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6aec4fbf-194d-476a-8af8-d68ec4eb614a" Alias="Region Single - Regions - Repeatable textstrings" Level="1">
  <Info>
    <Name>Region Single - Regions - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>