<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae3989fc-8a74-4476-8b8c-712bee168a16" Alias="UNSDG Single - ICC SDG Type - Dropdown" Level="1">
  <Info>
    <Name>UNSDG Single - ICC SDG Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Environmental"
    },
    {
      "id": 2,
      "value": "Socio-economic"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>