@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AssetCollection>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Master.cshtml";
}


<p>Asset Collection cshtml</p>


<h2>Asset Emissions</h2>

@foreach (var child in Model.Children<AssetSingle>()) 
	{
	<p>
		<a href="@child.Url()">@child.PageTitle</a>
	</p>
	}