@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CompanyCollection>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Master.cshtml";
}

<p>Company Collection cshtml</p>


<h2>Company Emissions</h2>

@foreach (var child in Model.Children<CompanySingle>()) 
{
	<p>
		<a href="@child.Url()">@child.PageTitle</a>
	</p>
}